@charset "utf-8";

/*
个人中心_折800css
 */
html{background-color: #eee;}
body{background-color: #eee;}
#ct{ height: auto;mid-width:320px;overflow:hidden;}
.u_center_w{min-width: 320px;height:auto;]}
.u_center_w .top{height:124px;width:100%;background:url("../../img/u_centerimg2.jpg") repeat-x;background-size: contain;position:relative;}
.u_center_w .top .img_left{float: left}
.u_center_w .top .img_right{float:right;}
.u_center_w .top .back{position:absolute;top:12px;left:12px;width:30px;height:30px;background: url("../../img/ico_back.png"); background-size: contain;z-index: 100}
.u_center_w .top .status{position: absolute;top:16px;left:0;width:100%;height:20px;text-align:center;font-size:18px;color:#fff;}
.u_center_w .bottom{margin:95px 0 5px 0;}
.u_center_w .bottom p{ text-align: center; color:#9d9d9d;font-size:13px;line-height:18px;}
.u_center_w .bottom p i{width: 14px;height: 14px; vertical-align: middle; background:url(../../img/ico_phone.png); background-size: contain; display:inline-block;margin:-3px 5px 0 0;}
.u_center_w .bottom p em{text-decoration:underline;}
.u_center_w .bottom p.bebebe{ color:#bebebe;font-size:10px;}
.u_center_w .bottom p .call_customer{-webkit-user-select: auto;}

.no_login .zhe_800{position: absolute;top:60px;left:0;width:100%;text-align: center;font-size:12px;color:#b7b7d4;}
.no_login .btn_area{position: absolute;top:82px;left:0;width:100%;height:25px;text-align: center;font-size:12px; color:#2a2e37}
.no_login .btn_area .btn{display:inline-block;width:75px;height:25px;line-height:25px;text-align: center;vertical-align: middle;background-color: #e0e1e8;border-radius: 3px;}
.login .attr{position:absolute;top:73px;left:0;width:100%;text-align: center;}
.login .attr span{display: inline-block;}
.login .icon_head{width:25px;height:22px;background:url("../../img/ico_u.png") no-repeat ;background-position:0  0;background-size: 25px  auto;margin-right: 10px;}
.login .name{height:22px;line-height: 22px;vertical-align:top;color: #d6d7e7;}
.content{width:100%;height:auto;background-color: #eee;}
.content .item{margin-top:10px;border-top:1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1;background-color :#fff;}
.item li{height:47px;position:relative;line-height:47px;color:#333;vertical-align:middle;background-color :#fff;border-bottom: 1px solid #cdcdcd;margin-left:10px;margin-right: 10px;padding-left: 40px;}
.item  li:last-child{border-bottom: none;}
.item li:after{content:"";position: absolute;top:20px;right:5px;font-size:18px;width: 8px;height: 8px;border-bottom: 1px solid #a0a0a0;border-right: 1px solid #a0a0a0;-webkit-transform:rotate(-45deg);}
.item li .icon{display: inline-block;width:24px; height:24px;position: absolute;top:10px;left:0;}
.ico_order{background:url("../../img/ico_u.png") no-repeat ;background-position:0  -22px;background-size: 24px  auto;}
.ico_coupon{background:url("../../img/ico_u.png") no-repeat ;background-position:0  -46px;background-size: 24px  auto;}
.ico_cart{background:url("../../img/ico_cart.png") no-repeat ;background-size: 24px  auto;}
.ico_id{background:url("../../img/ico_u.png") no-repeat ;background-position:0  -70px;background-size: 24px  auto;}
.ico_address{background:url("../../img/ico_u.png") no-repeat ;background-position:0  -94px;background-size: 24px  auto;}
.ico_changePwd{background:url("../../img/ico_u.png") no-repeat ;background-position:0  -168px;background-size: 24px  auto;}
.ico_onlineService{background:url("../../img/ico_u.png") no-repeat ;background-position:0  -119px;background-size: 24px  auto;}
.ico_telephoneService{background:url("../../img/ico_u.png") no-repeat ;background-position:0  -144px;background-size: 24px  auto;}
.onlineServiceName{ float: left;}
.tuijian{ margin-left: 10px; margin-top: 14px; display: inline-block;border: 1px red solid; color: red;border-radius: 10px;width: 14px; height: 14px;font-size: 11px; overflow: hidden; line-height: 15px;}
.tuijian em{ margin-left: 1px;}
.item li .right{float:right;margin-right:21px;color:#e63b53}
.item li a{display: block;height: 47px;}
.item li a .time{font-size: 10px; color: gray; float: right; margin-right: 21px;}


/* 身份选择css代码*/
.role_w{width:320px;height:auto;margin:0 auto;background-color: #fff;}
.role_w .top{width:320px;height:80px;padding-top:28px;background-color:#e63b53;position:relative;color: #fff;}
.role_w .arrow{position: absolute;bottom:-5px;left:155px; width:12px;height:12px;background-color:#e63b53;-webkit-transform:rotate(45deg);transform:rotate(45deg);z-index: 1000;}
.role_w .top .title{width:320px;height:auto;}
.role_w .top .title p{text-align: center;font-size: 20px;margin-bottom: 10px;}
.role_w .top .title span{display:block;text-align: center;font-size: 12px;margin-bottom: 10px;}
.select_area{width:320px;height:300px;padding:30px 0 20px 0;background-color: #fff;position: relative;}
.select_item{width:100px;height:135px;text-align: center;}
.select_area .girl{position: absolute;top:30px;left:30px;z-index: 10;}
.select_area .girl div{background: url(../../img/role_select.png) no-repeat;height: 130px;background-size: 315%;background-position-x: 1px;}
.select_area .girl .on{background: url(../../img/role_select.png) no-repeat;height: 130px;background-size: 300%;background-position-x: 1px;background-position-y:-124px; }
.select_area .mother{position: absolute;top:30px;left:190px;z-index: 10;}
.select_area .mother div{background: url(../../img/role_select.png) no-repeat;height: 130px;background-size: 315%;background-position-x: -99px;}
.select_area .mother .on{background: url(../../img/role_select.png) no-repeat;height: 130px;background-size: 300%;background-position-x: -99px;background-position-y:-127px;}
.select_area .boy{position: absolute;top:180px;left:110px;z-index: 10;}
.select_area .boy div{background: url(../../img/role_select.png) no-repeat;height: 130px;background-size: 315%;background-position-x: -198px;}
.select_area .boy .on{background: url(../../img/role_select.png) no-repeat;height: 130px;background-size: 300%;background-position-x: -198px;background-position-y:-126px;}
.select_area .name{display:inline-block;margin-top:10px;width:65px;height:26px;line-height: 26px;vertical-align: middle;text-align: center;color:#444;border-radius:10px;background-color: #f0f0f0;}
.select_area .time{text-align: center;}
.select_area .time .tit{color:#9b9b9b;}
.select_area .btn_confirm{width:235px;height:38px;background-color:#e63b53;display:block;margin:0 auto;line-height: 38px;margin-top:90px;vertical-align: middle;text-align: center;color:#fff;font-size: 16px;}
.select_area .jump{display: block;margin-top:45px;padding-right:10px;text-align: right;color:#7c8798;font-size:12px;}
.student{position: absolute;top:320px;left:50%;z-index: 10;margin-left: -35px;}
.student div{display:none;background-image: url(../../img/ico_student.png);background-size: 100%;background-repeat: no-repeat;height:20px;width: 70px;text-align: center;margin-top: 10px;/*background-position:3px -251px; */}
.student .on {background-image:url(../../img/ico_student_choose.png);background-size:100%;background-repeat: no-repeat;height:20px;width: 70px;text-align: center;margin-top: 10px;/*background-position:-68px -251px;*/}
#quit{height:47px;line-height:47px;vertical-align:middle;background-color :#fff;border-bottom: 1px solid #cdcdcd; border-top: 1px solid #cdcdcd; font-size: 16px; text-align: center; margin-top: 30px; color: #e63b53;}
#quit.hover{background-color: #f5f5f5;}
.btn_sure{width: 100%;height: 95px;line-height: 95px;text-align: center;}
.btn_sure span{display: inline-block;width:120px;height:35px;font-size:16px;background:#e63b53;color:#fff;text-align:center;line-height:35px;border-radius:5px;margin:30px auto;}
.btn_sure span.hover{background-color:rgba(0, 0, 0, 0.3); color: #000;}
