@charset "utf-8";

/*
	首页专用css
*/

body{background-color: #f5f5f5}

.loading{ display: inline-block}
#loading_init{ width: 100%; margin-top: 49%; text-align: center; font-size:0.875rem; color: #9b9b9b}
.icon_load{ display: inline-block; width:1.8125rem;height:1.8125rem; text-align:center; vertical-align: middle; background:url(../../img/ico_loading.png); background-repeat: no-repeat; background-size: contain; margin-right: 10px}
.icon_load{
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;
    -webkit-animation-name:ico_loading;
    -webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
@-webkit-keyframes ico_loading {
    from { -webkit-transform:rotate(0deg) translateZ(0)}
    to { -webkit-transform:rotate(360deg) translateZ(0)}
}

.index_w{min-width:320px;max-width:640px;margin: 0 auto}
/*
	banner S
*/
.rollingdoor{width: 100%;position:relative;overflow:hidden;}
.rollingdoor ul {min-width: 320px;position: relative;}
.rollingdoor ul li{width: 100%;float: left;position: relative;}
.rollingdoor ul li img{width: 100%;}
.rollingdoor .rollingdoor-number{width: 100%;height: 20px;position: absolute;left: 0;bottom:5px; text-align: center}
.rollingdoor .rollingdoor-number span{display: inline-block;width: 6px;height: 6px;border-radius: 3px;background-color: #fff;margin: 0 3px;}
.rollingdoor .rollingdoor-number span.selected{background-color: #e63b53}

/*
	banner E
*/

/*
	分类 category  S
*/
.category{background-color: #fff;width: 100%;overflow:hidden;display:table;padding-bottom:0.625rem}
.category li{width:25%;font:0/0 '';display:inline-block;margin-top: 0.625rem}
.category li a{display: block; text-align: center;}
.category li a img{width:2.5rem;height:2.5rem;}
/*.category li a:before{width:2.5rem;height:2.5rem;display: block;margin: 0 auto;border-radius: 50%;content: "";background: url(../../img/new_index_icon.png) no-repeat;background-size:2.5rem auto}
.category li.item1 a:before{background-position:0 0;background-color:#aa74d2}
.category li.item2 a:before{background-position:0 -2.5rem;background-color:#ffc107}
.category li.item3 a:before{background-position:0 -5.0rem;background-color:#99d256}
.category li.item4 a:before{background-position:0 -7.5rem;background-color:#10c2ce}
.category li.item5 a:before{background-position:0 -10.0rem;background-color:#63cfbc}
.category li.item6 a:before{background-position:0 -12.5rem;background-color:#fc5b5b}
.category li.item7 a:before{background-position:0 -15.0rem;background-color:#52a0e8}
.category li.item8 a:before{background-position:0 -17.5rem;background-color:#f85a75}*/
.category li a span{display: block;text-align: center;font:0.6875rem/1.25rem "\5fae\8f6f\96c5\9ed1"}
/*
	分类 category  E
*/

/*
	推荐 hot_recommend S
*/
.hot_recommend{padding:0.5rem 0.625rem;overflow: hidden;line-height: 0}
.hot_recommend img{width: 100%}
.hot_recommend ul li{float: left}
.hot_recommend ul li:nth-child(1){width:39%;}
.hot_recommend ul li:nth-child(2){width:59%;margin-left: 2%;margin-bottom:2.07%}
.hot_recommend ul li:nth-child(3){width:28.334%;margin-left: 2%}
.hot_recommend ul li:nth-child(4){width:28.334%;float: right}
.hot_recommend ul li:nth-child(5),.hot_recommend ul li:nth-child(7){margin-top:2%;width: 49%}{margin-top:2%;width: 49%}
.hot_recommend ul li:nth-child(6),.hot_recommend ul li:nth-child(8){float: right;margin-top:2%;width: 49%}
/*
	推荐 hot_recommend E
*/
/*
	列表 list S
*/
.list_W{background-color: #fff}
.list li{border-bottom: 1px solid #e5e5e5;padding: 8px 0px 8px 10px;overflow: hidden;}
.list li a{display: block;overflow: hidden;}
.list li .pro_img{float: left;width: 115px;height: 80px;position: relative;margin-right: 8px;}
.list li .pro_img .ico_tmall{display: block;width: 12px;height: 12px;background: url(../../img/ico_tmall.png);background-size: contain;position: absolute;left: 0;top: 0;}
.list li .pro_img .ico_temai{display: block;width:37px;height: 16px;background: url(../../img/shop_ico.png);background-size: contain;position: absolute;left: 0;top: 0;background-repeat: no-repeat}
.list li .pro_info{overflow: hidden;line-height: 18px;min-width: 187px;max-width:507px;max-height: 80px;}
.list li .tit_area{position: relative;height:36px;}
.list li .tit_area strong{font-size: 16px;font-weight: normal;color: #333;line-height: 18px;max-height: 36px;overflow: hidden;display: inline-block;padding-right: 5px;}
.list li .tit_area .pad35{padding-right: 35px;}
.list li .tit_area .pad42{padding-right: 42px;}
.list li .tit_area .ico{position: absolute;right: 5px;top: 1px;display:block;font-size:12px;height: 13px;}
.list li .tit_area .ico.new{width: 28px;background: url(../../img/ico_new.png);background-size:contain;background-repeat: no-repeat;}
.list li .tit_area .ico.phone{width: 36px;background: url(../../img/ico_sjzx.png);background-size:contain;background-repeat: no-repeat;}
.list li .tit_area .ico.end{width: 28px;background: url(../../img/ico_end2.png);background-size:contain;background-repeat: no-repeat;}
.list li .tit_area .ico.qiangwan{width: 28px;background: url(../../img/ico_qiangwan2.png);background-size:contain;background-repeat: no-repeat;}
.list li .tit_area .ico.nostart{width: 28px;background: url(../../img/ico_nostart2.png);background-size:contain;background-repeat: no-repeat;}
.list li .pro_info .attr {overflow: hidden;margin-top:5px;}
.list li .pro_info .attr span{font-size: 12px;color: #9b9b9b;margin-right: 25px;}
.list li .pro_info .attr2 {overflow: hidden;margin-top:5px;display: -webkit-box;-webkit-box-pack: justify;-webkit-box-orient: horizontal;padding-right:0.625rem}
.list li .pro_info .attr2 span{font-size: 12px;color: #9b9b9b;display: block;}
.list li .pro_info .attr2 span:nth-child(2){width:6.25rem}
.list li .pro_info .attr .price{font-size: 16px;color: #e63b53;margin-right: 15px;}
.list li .pro_info .attr del{font-size: 12px;color: #9b9b9b;}
.list li .pro_info .attr span:last-child{margin-right: 0}
.list li .pro_info .attr .fr{float: right;padding-right: 10px;}
.loading_more{text-align: center;padding: 10px;display: none;height: 30px;line-height: 30px;}
.list li.hover,.loading_more.hover{background-color: #f5f5f5;}
/*
	列表 list E
*/


/*
	搜索引擎专用页
*/
.topbar .btn_back i{display:block;width: 13px;height: 13px;border-bottom: 2px solid #fff;border-left: 2px solid #fff;position: absolute;left: 15px;top: 15px;-webkit-transform:rotate(45deg);}
.topbar .btn_index{display:block;width: 45px;height:44px;position: absolute;padding-right: 10px;right: 0}
.topbar .btn_index i{display:inline-block;float:right;width:1.375rem;height:1.375rem;background: url(../../img/icon_home.png);background-repeat: no-repeat;background-size:contain;overflow: hidden;margin-top:12px}
.sou_w{min-width:320px;max-width:640px;margin: 0 auto}
.list_title .btn_back i{display:block;width: 13px;height: 13px;border-bottom: 2px solid #666666;border-left: 2px solid #666666;position: absolute;left: 15px;top: 15px;-webkit-transform:rotate(45deg);}

/*
	搜索引擎专用页 - 商品图 - S
*/
.rollingdoor-s{width: 100%;position:relative;overflow:hidden;}
.rollingdoor-s ul {min-width: 320px;position: relative;}
.rollingdoor-s ul li{width: 100%;float: left;position: relative;}
.rollingdoor-s ul li img{width: 100%;}
.rollingdoor-s .rollingdoor-number{width: 100%;height: 20px;position: absolute;left: 0;bottom:5px; text-align: center}
.rollingdoor-s .rollingdoor-number span{display: inline-block;width: 6px;height: 6px;border-radius: 3px;background-color: #fff;margin: 0 3px;}
.rollingdoor-s .rollingdoor-number span.selected{background-color: #e63b53}
/*
	搜索引擎专用页 - 商品图 - E
*/

/*
	搜索引擎专用页 - buy-section - S
*/
.buy-section{padding:0 0.78125rem;background: #fff;border-bottom: 1px solid #d7d7d7}
.buy-section h2{font:0.75rem/0.9375rem "\5fae\8f6f\96c5\9ed1";padding:0.78125rem 0;color:#000;}
.buy-section .price-line{padding-right: 3.4375rem;position: relative;color:#999;margin-bottom:0.78125rem}
.buy-section .price-line b{color:#e63c54;margin-right: 0.625rem;font:1.25rem/1.25rem "\5fae\8f6f\96c5\9ed1";}
.buy-section .price-line del{font:0.625rem/0.875rem "\5fae\8f6f\96c5\9ed1"}
.buy-section .price-line span{font:0.625rem/1.25rem "\5fae\8f6f\96c5\9ed1";position: absolute;right: 0}
.buy-section .sales-line{font-size:0.625rem;color: #9b9b9b;display: -webkit-box;-webkit-box-pack: justify;-webkit-box-orient: horizontal}
.buy-section .sales-line span{width: 33%;display: block}
.buy-section .sales-line span:last-child{text-align: right}
.buy-section .btn-line{text-align: center;margin:1.09375rem 0}
.buy-section .btn-line a{background: #e63b53;border-radius: 5px;display: inline-block;font:1.0rem/2.5rem "\5fae\8f6f\96c5\9ed1";color:#fff;width:56%}
/*
	搜索引擎专用页 - buy-section - E
*/

/*
	搜索引擎专用页 - buy-list - S
*/
.buy-list{overflow: hidden}
.buy-list h2{position: relative;border-bottom:1px #c5c5c5 dashed;height:1.25rem;margin-bottom:1.25rem}
.buy-list h2 span{background: #f5f5f5;padding:0 0.25rem 0 1.25rem;font:0.6875rem/1.25rem "\5fae\8f6f\96c5\9ed1";color:#3f4346;top:0.5625rem;left:0;position: absolute;height: 1.25rem}
.buy-list h2 a{position: absolute;top:0.5625rem;right: 0;padding: 0 1.25rem 0 0.375rem;background: #f5f5f5;font:0.6875rem/1.25rem "\5fae\8f6f\96c5\9ed1";color:#aaa;}
.buy-list h2 a:before{content: "";position: absolute;top:0.3125rem;right:0.375rem;width: 0.6875rem;height: 0.6875rem;border-radius: 2px;background: #e63b53;color:#fff;line-height: 0.6875rem;text-align: center;}
.buy-list h2 a:after{content:"";width:4px;height:4px;border-top: 1px solid #fff;border-right: 1px solid #fff;position: absolute;top:0.5rem;right:0.625rem;-webkit-transform:rotate(45deg);}
.buy-list [class^='hd'] span:before{background: url(../../img/new_p_icon1.png) no-repeat;background-size: 0.75rem auto;width: 0.75rem;height: 0.8125rem;content: "";position: absolute;display:block;margin-right: 0.25rem;left:0.375rem;top:4px;}
.buy-list .hd_r span:before{background-position: 0 0}
.buy-list .hd_c span:before{background-position: 0 -0.8125rem}
.buy-list ul{margin: 0 1.875%}
.buy-list ul li{width:49.027%;background: #fff; position: relative;margin-bottom:1.875%;float: left}
.buy-list ul li img{width: 100%}
.buy-list ul li:nth-child(2n){float:right}
.buy-list .price_line{width: 100%; height: 26px;line-height: 26px}
.buy-list .price_line .pprice{font-size: 16px; color: #e63b53;margin:0 5px}
.buy-list .price_line del{font-size: 12px; color: #848484}
.buy-list .dis_line{width: 100%; height: 26px; line-height: 26px; font-size: 12px; color: #a0a0a0;box-sizing:border-box;display: -webkit-box;-webkit-box-pack: justify;-webkit-box-orient: horizontal;padding: 0 5px}
.buy-list .dis_line span{width: 33%;display: block}
.buy-list .dis_line .p_zhe{text-align: right}
.buy-list .item_tt{margin:0 5px;height: 26px; line-height: 26px; font-size: 12px; color: #444}
.buy-list .item_tt span{ width: 100%;height: 26px;display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space:nowrap}
.buy-list .mark_shop{width:37px; height:16px; background: url(../../img/shop_ico.png) no-repeat; background-size: contain; position: absolute; top: 0; left: 0}
.buy-list .mark_tmall{width:10px; height:10px; background: url(../../img/ico_tmall.png) no-repeat; background-size: contain; position: absolute; top: 0; left: 0}
/*
	搜索引擎专用页 - buy-list - E
*/

.download_float{width: 100%;height: 60px;position: fixed;bottom:0; z-index: 200;}
.download_float .inner{background-color: rgba(0,0,0,.7);}
.download_float .intro{color:#fff;padding:8px 5px 10px 30px;overflow: hidden;}
.download_float .intro .img{width: 47px;height: 47px;float: left;background:url("../../img/ico_zhe800_1.png");background-size: contain;margin-right: 5px;}
.download_float .intro .txt{overflow: hidden;}
.download_float .intro .t{font-size: 12px;}
.download_float .intro .ico_star{width:50px;height: 7px;background:url("../../img/ico_star.png");background-size: contain;}
.download_float .intro p{margin-top:2px;}
.download_float .btn_down{width: 60px;height:30px;background-color: #e63b53;color: #fff;border-radius: 3px;position: absolute;right: 20px;top: 16px;line-height: 30px;font-size: 12px;text-align: center}
.download_float .ico_close{display: block;width: 15px;height: 15px;background:url("../../img/ico_close.png");background-size: contain;position: absolute;left: 3px;top:3px;}
.download_float .close_area{width: 40px;height: 60px;position: absolute;left:0;top:0;}
.favfloat{width: 100%;height:40px;position:fixed;z-index: 100;background-color:rgba(0,0,0,.7);left: 0;opacity: .8;display: none;}
.favfloat .txt{text-align: center;line-height: 40px;color: #fff}
.favfloat .arrow{position: absolute;width: 0;height: 0;display: block;border:9px transparent solid;border-bottom-color:rgba(0,0,0,.7)}
.favfloat .close_area{width: 40px;height: 40px;position: absolute;right:0;top:0;}
.favfloat .ico_close{display: block;width: 15px;height: 15px;background:url("../../img/ico_close.png");background-size: contain;position: absolute;right:10px;top:15px;}
.favfloat.s1{top: 20px;}
.favfloat.s1 .arrow{top: -18px;left: 20px;}
.favfloat.s2{bottom: 10px;}
.favfloat.s2 .arrow{bottom: -18px;-webkit-transform:rotate(180deg);left: 50%;margin-left: -4px;}
.favfloat.s3{bottom: 10px;}
.favfloat.s3 .arrow{bottom: -18px;-webkit-transform:rotate(180deg);right: 60px}

/*身份选择浮层 */
/*.bg_layer{display: fixed;top:0;bottom:0;}*/
.dialog_box i{border:10px solid transparent;border-top: 10px solid #e63b53;display: inline-block;position: absolute;top: 30px;left:47%;font-size: 0;width: 0;height: 0;}
.dialog_box .role-title{display:inline-block;width:100%;height:32px;line-height:32px;text-align: center;font-size:16px;color:#fff;background-color:#E43C53}
.user-role-selec{text-align:center;padding-top:20px;position: relative;border:0;}
.user-role-selec span{color:#818181;font-size:12px;}
.user-role-selec .select-area{display:inline-block;width:100%;padding-top:20px;}
.user-role-selec .select-area .select-item{display:inline-block;}
.boy div{margin-top: 10px;width: 60px;height:75px;background-image: url(../../img/../../static/img/role_choose.png);background-position:-3px 3px;background-repeat: no-repeat;background-size: 362%;}
.girl div{margin-top: 10px;width: 60px;height:75px;background-image: url(../../img/../../static/img/role_choose.png);background-position:-78px 3px;background-repeat: no-repeat;background-size: 362%;}
.mother div{margin-top: 10px;width: 60px;height:75px;background-image: url(../../img/../../static/img/role_choose.png);background-position:-154px 3px;background-repeat: no-repeat;background-size: 362%;}
.student{margin-top: 10px;}
.student div{;display:none;background-image: url(../../img/../../static/img/ico_student.png);background-size: 100%;background-repeat: no-repeat;height:20px;width: 70px;text-align: center;margin-top: 10px;}
.boy .on{height:75px;background-image: url(../../img/../../static/img/role_choose.png);background-position: 0px -67px;background-repeat: no-repeat;background-size: 342%;}
.girl .on{height:75px;background-image: url(../../img/../../static/img/role_choose.png);background-position: -72px -67px;background-repeat: no-repeat;background-size: 342%;}
.mother .on{height:75px;background-image: url(../../img/../../static/img/role_choose.png);background-position: -143px -67px;background-repeat: no-repeat;background-size: 342%;}
.student .on{background-image: url(../../img/../../static/img/ico_student_choose.png);background-repeat: no-repeat;background-size: 100%;}
.btn-area{width: 100%;display: inline-block;margin: 15px 0;}
.btn-area .btn-cancel{display: inline-block;width: 100px;height: 30px;background-color: #e8e8e8;color: #818181;font-size: 14px;line-height: 30px;text-align: center;border-radius: 5px;}
.btn-area .btn-sure{display: inline-block;width: 100px;height: 30px;background-color: #E43C53;color: #fff;font-size: 14px;line-height: 30px;text-align: center;border-radius: 5px;margin-left: 20px;}
.btn-area .btn-cancel.hover{background-color:rgba(0, 0, 0, 0.3); color: #000;}
.btn-area .btn-sure.hover{background-color:rgba(0, 0, 0, 0.3); color: #000;}

