/* 评价 */
#ct{background: #f2f2f2;}
html{background: #f2f2f2;}
:focus{outline:0;}
.comment_w{ background-color:#f2f2f2;}
.comment_w .top_bar{padding: 17px 0; font-size:12px;color:#ffffff;text-align: center;background-color: #4d596d;}
.comment_w .top_bar p{text-align: center;}
.comment_w .top_bar #jf_total{display:inline-block;margin:0 5px;font-size: 16px;font-weight: bold;}
.comment_w .top_bar .ico_img1{display: inline-block;vertical-align:top;margin-right: 8px;width: 16px;height:16px;background: url("../../img/ico_img1.png") no-repeat;background-size: contain;}
.comment_w .top_bar .change_time{font-size: 10px;color: #b5b8bf;margin-top: 3px;}

.commodity_box{margin-bottom: 10px;background: #fff;}
.commodity_info{ height: 85px;padding: 13px 11px;background: #fff;border-bottom: 1px solid #d7d7d7}
.commodity_info dl{height: 85px;}
.commodity_info dl dt{ width: 85px;height:85px;float: left; margin-right: 15px;}
.commodity_info dl dt img{ width: 85px; height: 85px;}
.commodity_info dl dd{ font-size: 12px; overflow: hidden;height: 85px;}
.commodity_info dl dd .title{height:20px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; padding-right: 20px;}
.commodity_info dl dd .attr{ height:32px;margin-top: 3px; color: #9b9b9b;}
.commodity_info dl dd .attr span{ margin-right: 5px;}
.commodity_info dl dd .price_num{ height: 37px}
.commodity_info dl dd .price_num .num{ margin-left: 5px;}

.textarea{ border: 1px solid #e7e7e7; border-radius: 5px; overflow: hidden;background-color:#f8f8f8;margin: 0 11px 14px;padding: 3px 5px 0;}
.textarea p{float: right;color: #d7d7d7; padding: 2px; font-size: 12px;}
.textarea textarea{width:100%;border: 0;resize:none; display: block; line-height: 16px; background-color:#f8f8f8;vertical-align:middle;color: #333; font-size: 12px;  }
.upload_img{ background: #fff;padding:0 11px 20px;}
.upload_img h3{font-size: 14px;}
.upload_img h3 span{ margin-left: 10px; color: #d7d7d7;}
.upload_box{ margin-top: 10px; height: 50px;display: -webkit-box;}
.upload_box li{ -webkit-box-flex: 1;border-radius: 5px;-webkit-border-radius: 5px;}
.upload_box .add_pic{border: 0; width: 47px; height: 47px; background: url("../../img/add_img.png") no-repeat; background-size: contain;}
.upload_box .add_pic.hover{opacity: 0.6}
.upload_box li{width: 47px; height: 47px; background-size: contain; position: relative;}
.upload_box li img{width: 47px; height: 47px;}
.upload_box .loading_img{border:0;background: url("../../img/com_img2.jpg") no-repeat; background-size: contain;}
.upload_box .error_img{border:0;background: url("../../img/com_img3.jpg") no-repeat; background-size: contain;}
.upload_box li .btn_clear{width:22px; height: 22px;background:url("../../img/com_del.png");background-size:contain;position: absolute;top: -10px; left:35px;}
.upload_tips{ margin-top: 10px;}
.upload_tips i{ width: 13px; height: 13px; background: url("../../img/com_tips.jpg") no-repeat;background-size: contain;  margin-right: 5px; vertical-align: middle; display: inline-block;}
.upload_tips { color: #e2494d; font-size: 12px;}

.comment_w .level_score{display: -webkit-box;margin: 18px 11px;height:38px;color: #666;}
.comment_w .level_score span{-webkit-box-flex: 1;display: block;border:1px solid #fff;text-align: center;height:38px;line-height:38px;vertical-align:middle;margin-right: 18px;}
.comment_w .level_score span:last-child{margin-right: 0;}
.comment_w .level_score i{display: inline-block;width: 25px;height: 26px;vertical-align: middle;margin-right: 5px;}
.comment_w .level_score .ico_better{background: url('../../img/sp_assess.png') no-repeat; background-position:0 0;background-size: auto 26px;}
.comment_w .level_score .ico_good{background: url('../../img/sp_assess.png') no-repeat; background-position:-25px 0;background-size: auto 26px;}
.comment_w .level_score .ico_poor{background: url('../../img/sp_assess.png') no-repeat; background-position:-51px 0;background-size: auto 26px;}
.comment_w .level_score .on{border:1px solid #f7cadb;border-radius: 18px;-webkit-border-radius:18px;color: #fb94b8;}
.comment_w .score{ background: #fff;; border-bottom: 1px solid #dbdbdb; padding-bottom: 24px;}
.comment_w .score h3{ color: #999999; padding: 10px;padding-top:0;background: #f2f2f2;border-bottom: 1px solid #dbdbdb;}
.comment_w .score>div{ padding-left: 10px;}
.comment_w .score .score_item{ padding-top: 12px;height: 20px;line-height: 20px;color: #333333}
.comment_w .score .score_item span{ display:inline-block;font-size:14px;  margin-right:20px;line-height: 20px;}
.comment_w .score .score_item .star{margin-right: 0;}
.comment_w .score .score_item .star i{height: 20px; text-indent:-999px; width: 30px;background:url("../../img/com_star.png") no-repeat; background-size: cover;display: inline-block;}
.comment_w .score .score_item .star .on{background:url("../../img/com_star1.png") no-repeat; background-size: cover;}
.comment_w .score .score_item .score_txt{float:right;margin-right: 20px;font-size: 12px;color: #e63b53}

/* 大图展示  */
#bg_layer{display:none; position: absolute; width: 100%; height: 100%; z-index: 300; background-color: rgba(0, 0, 0, 0.6) ; top: 0; left: 0}
#bigimg_main{display:none; width: 100%; height:400px; position:fixed; top: 0; left: 0; z-index: 400}
.big_image{ width: 100%; height: 400px;background-image:url("../../img/logo_zhe800.png"); background-repeat:no-repeat;background-position:50% 200px;overflow: hidden; margin: 0 auto }
.big_image img{ width: 100%; display: block }

/* 追加评价 */
.append_w{ background-color:#f2f2f2;}
.append_w .top_bar{padding: 17px 0; font-size:12px;color:#ffffff;text-align: center;background-color: #4d596d;}
.append_w .top_bar p{text-align: center;}
.append_w .add_information{ background: #fff; padding:0 10px;border-radius:3px;-webkit-border-radius: 3px;border-bottom: 1px solid #d9d9d9}
.append_w .add_information h3{font-size: 14px;color: #4d596d;padding: 10px 0;}
.append_w .comment_txt{ overflow: hidden; padding: 0 10px 10px;background: #fff;}
.append_w .comment_txt .text{margin-top: 15px;color: #666666;font-size:14px;}
.append_w .comment_txt .time{ font-size: 10px;padding-top: 15px;color:#666666;}
.append_w .upload_picture{padding-top: 12px;height:47px;overflow: hidden;}
.append_w .upload_picture span{display: block;width:47px;height: 47px;float:left;margin-right: 16px;}
.append_w .upload_picture span:last-child{margin: 0;}
.append_w .upload_picture span img{width:47px;height: 47px;}
.append_w .textarea{margin: 0}
.append_w .upload_img{padding:0 0 20px;}
.append_w .upload_box{ margin-top: 0; }

.btn_submit{ margin:18px 10px;height: 40px;line-height: 40px; text-align: center;color: #fff; background-color: #e63b53;border-radius: 3px;}
.btn_submit.hover{background-color:rgba(0, 0, 0, 0.3)}

.btn_confirm{color: #e63b53;}
.btn_confirm.hover{background-color:#e63b53;color: #fff;}

/*评价列表页css*/
.comment_list_w  .top_bar{padding: 14px 0;width: 100%;text-align: center;background-color: #f8f8f8;font-size: 18px;color: #333333;border-bottom: 1px solid #d5d5d5}
.comment_list_w #list_main{background-color: #fff;padding-left: 10px;}
.comment_list_w .list li{border-bottom:1px solid  #e8e8e8;padding-right: 10px;}
/*.comment_list_w .list li:last-child{border-bottom: 0;}*/
.comment_list_w dl{position:relative;display: -webkit-box;background-color:#fff;padding: 17px 0;}
.comment_list_w dt{margin-right:8px;vertical-align: middle;}
.comment_list_w dt .ico_head{display: inline-block;width: 18px;height: 18px;}
.comment_list_w dd{-webkit-box-flex: 1;}
.comment_list_w dd span{display: inline-block;}
.comment_list_w dd .nickname{font-size: 10px;color: #666666;margin-right: 8px}
.comment_list_w dd .time{font-size: 10px; color: #b2b2b2}
.comment_list_w dd .score{font-size: 12px;float: right}
.comment_list_w dd .score i{display:inline-block;margin-right:5px;width:12px;height:11px; }
.comment_list_w dd .score.better{color: #ff686c; }
.comment_list_w dd .score.good{color: #ffbd2e; }
.comment_list_w dd .score.poor{color: #b2b2b2; }
.comment_list_w dd .better i{background: url("../../img/sp_score.png") no-repeat;background-position: 0 0;background-size: auto 11px;}
.comment_list_w dd .good i{background: url("../../img/sp_score.png") no-repeat;background-position: -11px 0;background-size: auto 11px;}
.comment_list_w dd .poor i{background: url("../../img/sp_score.png") no-repeat;background-position: -23px 0;background-size: auto 11px;}
.comment_list_w dd .content{font-size:14px;color:#666666;margin-top:14px;}
.comment_list_w dd .sku{font-size:10px;color:#b2b2b2;margin-top:7px;}
.comment_list_w dd .sku span{margin-right: 8px;}
.comment_list_w dd .answer{margin-top: 14px;font-size:12px;color:#999999;}

.comment_list_w .pic_evidence{margin-top: 14px;height:90px; width:100%;display:-webkit-box; -webkit-box-orient: horizontal;overflow: hidden;}
.comment_list_w .pic_evidence ul{position: relative; height:90px;display: block; float: left; padding: 0; margin: 0; text-align: left;}
.comment_list_w .pic_evidence ul li{border:0; box-sizing: border-box; display: block; float: left;text-align: center;position: relative;width:90px;height: 90px;margin-right:10px;padding-right: 0;}
.comment_list_w .pic_evidence ul li img{width:90px;height: 90px;}
.comment_list_w .append{margin-top: 17px;color: #666666}
.comment_list_w .loading_more{height:44px;line-height: 44px;vertical-align: middle;text-align: center;color:#a0a0a0;background-color:#fff;font-size:12px;}
.comment_list_w  .icon_load{ display: inline-block; width: 20px;height: 20px; text-align:center; vertical-align: middle; background:url("../../img/ico_loading.png"); background-repeat: no-repeat; background-size: contain; margin-right: 10px; }
.comment_list_w .icon_load{ -webkit-transform:rotate(0deg) translateZ(0); -webkit-transition-duration:0ms;  -webkit-animation-name:ico_loading; -webkit-animation-duration:1.5s;-webkit-animation-iteration-count:infinite; -webkit-animation-timing-function:linear;}
@-webkit-keyframes ico_loading { from { -webkit-transform:rotate(0deg) translateZ(0);}to { -webkit-transform:rotate(360deg) translateZ(0);}}
.comment_list_w  #loading{text-align: center;padding: 65px 0 45px;}


/* 大图展示  */
#dt_bigimg{display:none; position: fixed; width: 100%; height: 100%; z-index: 300; background-color: rgba(0, 0, 0, 0.6) ; top: 0px; left: 0px;}
#dt_bigimg_main{display:none; width: 100%; height: 100%;  position: fixed; top: 0px; left: 0px; z-index: 400}
.dt_big_image{ width: 100%; height: 100%; overflow: hidden; margin: 0 auto }
.dt_big_image ul{ width: 100%; height: 100%;  display: -webkit-box; position: relative; overflow: hidden}
.dt_big_image ul li{ width: 100%;height: 100%;  display: -webkit-box; -webkit-box-pack: center; -webkit-box-align: center; float: left; position: relative}
.dt_image_num{ width: 100%; height: 10px; position: absolute; z-index: 10; bottom: 15px; left: 0; text-align: center; }
.dt_image_num span{ display: inline-block; width: 6px; height: 6px;  background-color: #fff; -webkit-border-radius: 3px; margin: 0 3px; opacity: 0.8}
.dt_image_num span.curr{ background-color: #e63b53}
.dt_big_image img{ width: 100%; display: block }

.comment_list_w .comment_rate{color:#666666;border-bottom: 1px solid #e8e8e8;background-color: #fff;margin-left:-10px;padding: 15px 10px}
.comment_list_w .comment_rate .grade{font-size: 14px;color: #3e4346;display: inline-block; }
.comment_list_w .comment_rate .prate{font-size: 14px;color: #e63b53;display: inline-block; float: right;}
.comment_list_w .comment_rate .grade span{display: inline-block;padding-left: 10px;}
.comment_list_w .comment_rate .graph{margin-top: 19px;font-size: 12px;}
.comment_list_w .comment_rate .graph p{margin-bottom: 8px;}
.comment_list_w .comment_rate .graph p:last-child{margin-bottom: 0;}
.comment_list_w .comment_rate .graph span{display: inline-block;position:relative;margin-left: 20px;width:84%;height: 2px;margin-top:-3px;border-radius:5px;vertical-align: middle;-webkit-border-radius:5px;background-color:#e8e8e8;}
.comment_list_w .comment_rate .graph .move{display: inline-block;position: absolute;left: 0;top: 0;height: 2px;background-color: #ed5565;border-radius: 5px;-webkit-border-radius: 5px;}

