@charset "utf-8";

/**
专题
*/
.not_data{margin:20% auto 0;font:14px/20px '\5fae\8f6f\96c5\9ed1'; width: 180px;text-align: center;}
.not_data i{background: url(../../img/img_500.png) no-repeat;width:86px;height:103px;background-size: contain;display:block; margin: 0 auto 10px}

.guang_main{min-width: 310px; max-width: 620px; margin: 0 auto}
/*.guanglistBox{display:-webkit-box;-webkit-box-pack:justify;-webkit-box-orient: horizontal}*/
.guang_list_box{width:48.71%;display: inline-table;}
.guang_list_item{background: #fff;margin-top: 5px;box-sizing:border-box;width: 100%}
.guang_list_item img{width:100%}
.guang_list_item .item_tt{font:10px/16px '\5fae\8f6f\96c5\9ed1';padding: 8px;color:#848484;}
.guang_itemad img{border:1px solid #e3e3e3;width:100%;box-sizing:border-box;}
.guang_list_item .price_line{height:16px;color:#bbb;font:10px/16px '\5fae\8f6f\96c5\9ed1';padding:10px 8px 2px;overflow: hidden}
.guang_list_item .price_line .pprice{font-size: 16px;color: #e63b53;margin-right:8px}
.guang_list_item .price_line .p_zhe{float: right}

/*查看更多，end*/
.loading_more{ width: 100%; text-align: center; padding:15px 0px; font-size: 14px; color: #9b9b9b; background-color: #fff; display: none; float: left}
.list_end{ width: 100%; height: 60px; text-align: center; display: none; float: left }
.list_end span{ width: 275px; height: 25px; background: url(../../img/sou_no_end.png); background-size: 275px auto; display: inline-block; margin-top: 10px; }


/* 菊花 */
.loading{ display: inline-block; }
#loading_init{ width: 100%;  margin-top: 49%; text-align: center; font-size: 14px; color: #9b9b9b; }
.icon_load{ display: inline-block; width: 29px;height: 29px; text-align:center; vertical-align: middle; background:url("../../img/ico_loading.png"); background-repeat: no-repeat; background-size: contain; margin-right: 10px; }
.icon_load{
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;
    -webkit-animation-name:ico_loading;
    -webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
@-webkit-keyframes ico_loading {
    from { -webkit-transform:rotate(0deg) translateZ(0)}
    to { -webkit-transform:rotate(360deg) translateZ(0)}
}
