@charset "utf-8";

/*
m站精品预告_折800css
 */
 html,body{
  height:100%;
  background: #f6f6f6;
 }
 .topbar .title{
  background-color: #f8f8f8;
 }
 .topbar{
  border-bottom: 1px solid #d8d8d8;
  display: none;
 }
 .slide{
  background-color: #fff;
  height: 43px;
  overflow: hidden;
  z-index: 200;
  margin-right: 44px;
 }
 .slide span{
   height: 43px;
    line-height: 43px;
    display: block;
    display:inline-block;
    color: #6a6969;
    font-size: 15px;
    /*margin-right: 25px;*/
    padding: 0 12px;
 }
 .slide .all{
  padding-left:6px;
 }
 .subnavlist .selected i{
  height: 4px;
  background-color: #e30c26;
  width: 100%;
  margin-top: -4px;
  display: block;
 }
 .slide .sel{
   color: #e30c26;
 }
 .icon_down{
  width: 15px;
  height: 9px;
  background: url(../../img/forecast/down.png) no-repeat;
  display: block;
  float: right;
  background-size: 15px 9px;
  margin-right: 12px;
  margin-top: 13px;
 }
.price_line{
    padding: 0 4px;
    height: 18px;
    overflow: hidden;
    margin-top:10px;
  }
 .price_line .price{
  font-size: 15px;
  color: #e30c26;
 }
  .price_line del{
    color: #b2b2b2;
    font-size: 12px;
  }
  .price_line .des{
    font-size: 10px;
    color: #fff;
    background-color: #ff5b5b;
    padding: 0 3px;
    float: right;
  }
  .price_line .item{
    font-size: 12px;
    color: #333;
  }
.brand_list .item span{
  width: 100%;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 3px;
}
  .warming{
    color: #f05b5b;
    font-size: 13px;
    border: 1px solid #f05b5b;
    padding: 5px 0px;
    border-radius: 3px;
    margin: 0 4px;
    text-align: center;
  }
  .brand_list li{
    width: 50%;
    position: relative;
    background-color: #f0f0f0;
    display: inline-block;
  }
  .item{
    margin-left: 4px;
  }
 
  .bray_invalid{
    color: #9d9d9d;
    border: 1px solid #9d9d9d;
    display: none;
  } 
  .brand_list li img{
    width: 100%;
  }
  .warming .icon_invalid{
   width: 12px;
   height: 9px;
   background: url(../../img/forecast/invalid.png) no-repeat;
   background-size: 12px 9px;
   display: inline-block;
  }
  .icon{
    position: absolute;
    z-index: 1000;
    top: 0px;
    height: 39px;
    width: 44px;
    right: 0px;
    padding-top: 4px;
    background-color: #fff;
    display:none;
      }

.sels_down ul{
  width: 100%;
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f2f1f1), to(#fff));
  position: absolute;
  z-index: 100;
  background-color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  top: -700px;
  border-top: 1px solid #f0eff0;
}
.sels_down ul li{

border-bottom: 1px solid #f0eff0;
overflow: hidden;
width: 25%;
font-size: 14px;
color: #4d5765;
text-align: center;
/*display: -webkit-box;
display: -webkit-flex; 
display: flex;*/
float: left;
line-height: 45px;
}
.sels_down li span{
font-size: 14px;
color: #4d5765;
text-align: center;
border-right:  1px solid #f0eff0;
-webkit-box-flex: 1; -webkit-flex: 1; flex: 1;
width: 100%;
}
.sels_down{
position: relative;
/*border:10px solid green;*/
}
.slide .all,.slide .subnavlist span{
  float: left;
}
.sels_down ul li span{
    height: 45px;
    float: right;
    width: 1px;
    margin-top: -1px;
}
.sels_down ul li:nth-child(4n) span{
  display: none;
}
.subnavlist{
  position: relative;
  height: 43px;
}
.jcy_navList{
  position: relative;
}
.slide .selected{
  font-weight: bold;
  color: #e30c26;
}
.sels_down .selected{
  color: #e30c26;
}
.swipe {
    overflow:hidden;
    background: #f6f6f6;
    width: 100%;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
    background-color: #f6f6f6;
    clear: both;
}
.swipe-wrap .conItem {
    width:100%;
    min-height: 200px;
    display: inline-block;
    position: relative;
    float: left;
}
.brand_list{
  overflow: hidden;
}
.opcity{
    background-color: #000;
    width: 100%;
    position: absolute;
    height: 700px;
    z-index: 70;
    opacity: 0.5;
    display: none;
}


.loading_more{ padding-top:160px; width: 100%; text-align: center;  font-size: 14px; color: #9b9b9b; background-color: #f6f6f6; /*display: none;*/ float: left}
.loading{ display: inline-block; height: 50px; line-height: 50px;}
/*#loading_init{width: 100%; line-height: 100px; text-align: center; font-size: 14px; color: #9b9b9b;display: none;}*/
.icon_load{ display: inline-block; width: 29px;height: 29px; text-align:center; vertical-align: middle; background:url("../../img/forecast/ico_loading.png"); background-repeat: no-repeat; background-size: contain; margin-right: 10px; }
.icon_load{-webkit-transform:rotate(0deg) translateZ(0); -webkit-transition-duration:0ms; -webkit-animation-name:ico_loading; -webkit-animation-duration:1.5s; -webkit-animation-iteration-count:infinite; -webkit-animation-timing-function:linear; }
@-webkit-keyframes ico_loading {from { -webkit-transform:rotate(0deg) translateZ(0)} to { -webkit-transform:rotate(360deg) translateZ(0)} }
.noData{
    text-align: center;
    padding-top: 180px;
}
.des1{
  float: right;
  font-size: 10px;
  color: #b2b2b2;
}
.top_con{
    width: 31px;
    height: 31px;
    background: url(../../img/forecast/top.png) no-repeat 0 0;
    background-size: 31px 31px;
    position: fixed;
    z-index: 800;
    bottom: 10px;
    right: 10px;
}
.brand_list b{width:25px;height:26px;position: absolute;left:5px;top:0;}
.brand_list b.youpin{background: url(../../img/forecast/youpin.png) no-repeat 0 0;background-size: 25px 26px;}
.valid{display: block;}

.alarm .valid{display: none;}
.alarm .bray_invalid{display: block;}

.brand_list li .li_bwrap{
  margin: 6px 3px 0px 6px; 
  background-color: #fff;
  padding-bottom: 10px;   

}
.brand_list li:nth-child(2n) .li_bwrap{
  margin: 6px 6px 0px 3px;
  }
  .icon_invalid{
    margin-right: 10px;
  }
.icon span{
  display: inline-block;
  width: 1px;
  height: 34px;
  background-color: #f1f1f1;
}
.li_bwrap{
  position: relative;
}
#navWrap{
  position: fixed;
  z-index: 5000;
  top: 0;
}
.wrap_content{
  margin-top: 42.5px;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.top_con{
  display: none;
}
#navWrap{
  width: 100%;
  background-color: #fff;
}
.all{
  width: 31px;
  overflow: hidden;
}
.li_bwrap img{
  height: auto;
  -webkit-transition: all .8s ease-in;
  
}
.bottom-pic{
  height: 45px;
  width: 100%;
  background: url(../../img/forecast/bottom_pic.png) no-repeat 0 0;
  background-size: 100% 45px;
  line-height: 45px;
  width: 100%;
  display: none;
}
.loading_more{
    height: 45px;
    line-height: 45px;
}
.imgList li img{
  width: 100%;
}
.slide_img{
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.imgList li{
  float: left;
 position: relative;
}
.slide_img .dotList .cur {
  width: 8px;
  height: 8px;
  background: url(../../img/forecast/selected.png) no-repeat 0 0;
  background-size: 8px 8px;
}
.slide_img .dotList span {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: url(../../img/forecast/wb.png) no-repeat 0 0;
    background-size: 5px 5px;
    margin: 0 3px;
}
.slide_img .dotList {
    position: absolute;
    line-height: 20px;
    bottom: 5px;
    right: 10px;
}
.wrap_content{
  margin-top: 42.5px;
}
@media screen and (max-width: 350px) {.slide_img{overflow: hidden;} .slide_img ul {min-width: 320px;position: relative;overflow: hidden} .slide_img ul li img{height:130px;} }
@media screen and (min-width: 350px) and (max-width:420px) {.slide_img{overflow: hidden;} .slide_img ul {min-width: 320px;position: relative;overflow: hidden} .slide_img ul li img{height:140px;} }
@media screen and (min-width: 420px){.slide_img{overflow: hidden;} .slide_img ul {min-width: 320px;position: relative;overflow: hidden} .slide_img ul li img{height:150px;} }
.layer_opcity{
    background-color: #000;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 5050;
    opacity: 0;
    top: 0;
}
.desk_pic{
    width: 100%;
    height: 114px;
    background: url(../../img/forecast/bottom.png) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    z-index: 5050;
    bottom: 0;

}
.person_pic{
    width: 244px;
    height: 148px;
    background: url(../../img/forecast/person.png) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    z-index: 5050;
    bottom: 108px;
    left: 23px;
}
.close{
    width: 30px;
    height: 30px;
    background: url(../../img/forecast/close.png) no-repeat 0 0;
    background-size: 16px 16px;
    background-position: 6px 6px;
    position: absolute;
    z-index: 5050;
    bottom: 228px;
    left: 20px;
}
.desk_pic h3{
  margin-top: 32px;
  color: #545c66;
  font-size: 14px;
  text-align: center;
}
.desk_pic .alarm{
  text-align: center;
  color: #9c9c9c;
  font-size: 10px;
  display: block;
}
.desk_pic .goto_alarm{
display: block;
text-align: center;
width: 161px;
height: 33px;
line-height: 33px;
background: #e74643;
color: #fff;
font-size: 13px;
margin: 0 auto;
}
.relative{
  position: absolute;
  height: 100%;
  width: 100%;
  }
.layer{
    position: fixed;
    z-index: 5000;
    top: 0;
    width: 100%;
    height: 100%;     
    display: none;
}
.animate{
  position: fixed;
  bottom: -270px;
  z-index: 5000;
  width: 100%;
}