@charset "utf-8";
/* 品牌团 */
html{ background: #f2f2f2; }

body{background: #f2f2f2;}

figure,figcaption{margin:0;padding:0;border:0;}
/*.l,.left{float: left}
.r,.right{float: right}*/
#ct{ background: #f2f2f2; overflow: hidden;box-sizing:border-box;}
/*品牌团副导航 S*/

.topbar{background-color: #f8f8f8;}

.brand_nav_main{ width: 100%; height:40px; display: -webkit-box; -webkit-box-orient: horizontal; border-bottom:1px solid #d9d9d9; border-top:1px solid #d9d9d9; background-color: #fff;}
.brand_nav_main ul{width: 100%;overflow: hidden}
.brand_nav_main ul li{float: left;padding:0 12px;text-align: center; font:12px;color: #48474c; text-align: center; position: relative}
.brand_nav_main ul li.brand_nav_on{font-size: 12px; color: #dc0c26; border-bottom: 3px solid #dc0c26; font-weight: bold;}
.brand_nav_main ul li.brand_nav_on:after{width:0px; height:0px;border-width:0 5px 5px;border-color:transparent transparent #f2f2f2;border-style:solid;font-size:0px; position: absolute; bottom: 0; left: 50%; margin-left: -5px;content: ""}
#brand_nav_scroller .lMask{position: absolute;top:0;width:26px;height:40px;background: url(../../img/brand/nav_mask.png) 0 0 no-repeat;background-size: 100%; display: none; left:-11px;background-position: 2px 5px;}
#brand_nav_scroller .rMask{position: absolute; top:0; width:26px; height:40px;background: url(../../img/brand/nav_mask.png) 0 0 no-repeat;background-size: 100%; display: none; right:0px;background-position: 3px -33px;}



/*品牌团副导航 E*/

/*品牌团副导航分类*/
.brand_tag_main{ width: 100%; height:80px; display: -webkit-box; -webkit-box-orient: horizontal; overflow: hidden; background-color: #fff;}
.brand_tag_main #brand_tag_wrapper{float: left; position: relative; z-index: 1; overflow: hidden; width: 100%;}
.brand_tag_main #brand_tag_wrapper #brand_tag_scroller {float: left; padding: 0; position: relative; overflow: hidden; width: 100%;}
.brand_tag_main #brand_tag_wrapper #brand_tag_scroller ul {display: block; float: left; width: 100%; padding: 0; margin: 0; text-align: left;}
.brand_tag_main #brand_tag_wrapper #brand_tag_scroller ul li{box-sizing: border-box; display: block; float: left;padding:0 6px;text-align: center; font:14px/44px '\5fae\8f6f\96c5\9ed1';color: #48474c; text-align: center; position: relative; width: 75px; height: 80px; overflow: hidden;}
.brand_tag_main #brand_tag_wrapper #brand_tag_scroller ul li.brand_nav_on{font-size: 16px;color: #dc0c26; border-bottom: 3px solid #dc0c26;}
.brand_tag_main #brand_tag_wrapper #brand_tag_scroller ul li.brand_nav_on .title{color: #f30;}
.brand_tag_main #brand_tag_wrapper #brand_tag_scroller ul li span.icon{width: 100%; height: auto; overflow: hidden; display: inline-block;}
.brand_tag_main #brand_tag_wrapper #brand_tag_items li span{overflow: hidden; display: inline-block; border:none;}
.brand_tag_main #brand_tag_wrapper #brand_tag_items li span.icon_tag{margin:0px; width: 100%; height: 40px; overflow: hidden; margin:2px 0px 0px 0px}
.brand_tag_main #brand_tag_wrapper #brand_tag_items li span.title{width: 100%; height: 30px; line-height: 20px; overflow: hidden; font-size: 10px;  position: relative; top: -6px;}
.brand_tag_main #brand_tag_wrapper #brand_tag_items li.brand_tag_on span.title{height: 30px; line-height: 20px; position: relative; top: -6px;}
.brand_tag_main #brand_tag_wrapper #brand_tag_items li.brand_tag_on span.title i{border-radius: 20px; border: 1px solid #f30; padding:1px 5px; font-size: 10px;  position: relative; top: 0px;}


#brand_tag_scroller .lMask{position: absolute;top:36px;width:26px;height:40px;background: url(../../img/brand/nav_mask.png) 0 0 no-repeat;background-size: 100%; display: none; left:-11px;background-position: 2px 5px;}
#brand_tag_scroller .rMask{position: absolute;top:0px;width:26px;height:80px;background: url(../../img/brand/nav_mask.png) 0 0 no-repeat;background-size: 100%; display: block; right:0px;background-position: 0 -36px;}


#brand_main_content{margin: 0 auto; overflow: hidden; position: relative; width: 100%;}
#brand_main_content #brand_main_wrap{overflow: hidden;position: relative;clear: both;}
#brand_main_content iframe{width:100%;max-height:620px; height:600px; overflow:hidden;}
#brand_main_wrap{overflow: hidden;}
#brand_main_content .item{position: relative; width: 100%; height:100%; display: inline-block; float:left; overflow: hidden; min-height:300px;}

.fixed{position: fixed; top: 0px; z-index:100;}
.fixed50{position: fixed; top: 53px; z-index:100;}
.hidden{display: none;}
/*品牌团首页列表 S*/

.brand_main{min-width: 310px; max-width: 620px; margin: 0 auto}
#brand_nav_wrapper{float: left; z-index: 1; overflow: hidden; position: relative; width:100%;}
#brand_nav_scroller {position: relative; overflow: hidden; -webkit-box-flex:1;}
#brand_nav_scroller ul {position: relative; overflow: hidden;}
#brand_nav_scroller ul li {box-sizing: border-box; height: 40px; line-height: 40px; font-size: 14px; position: relative; overflow: hidden;}
.brand_list{margin-top:8px;position: relative;background:#fff;border:1px solid #e5e5e5;list-style-type: none;}
.brand_list time.sold{color:rgba(255,255,255,.8);position: absolute;top:0;right:0;height:16px;font:10px/16px '\5fae\8f6f\96c5\9ed1';background:rgba(0,0,0,.5);padding:0 5px 0 24px;text-align: right; z-index: 2}
.brand_list time.sold:before{background:url(../../img/ued_ico1.png) no-repeat;background-size:contain;width: 14px;height: 14px;content: "";display:block;position: absolute;top:1px;left:5px;}
.brand_list time.soldOut{color:rgba(255,255,255,.8);position: absolute;top:0;right:0;height:16px;font:10px/16px '\5fae\8f6f\96c5\9ed1';background:rgba(0,0,0,.5);padding:0 5px 0 24px;text-align: right; z-index: 2}
.brand_list time.soldOut:before{background:url(../../img/ued_ico1.png) no-repeat;background-size:contain;width: 14px;height: 14px;content: "";display:block;position: absolute;top:1px;left:5px;}
.brand_list time.today{color:#fff;position: absolute;top:0;right:0;height:16px;font:10px/16px '\5fae\8f6f\96c5\9ed1';background:#ee1e6a;padding:0 5px;text-align: right; z-index: 2}
.brand_list time.today:before{}

.brand_list figure{position: relative;}
.brand_list figure img{width: 100%; overflow: hidden;}
.brand_list figure h3{color: #fff;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;width: 100%;position: absolute;bottom:0;left:0;background-image: -webkit-linear-gradient(top , transparent , rgba(0,0,0,.5));box-sizing:border-box;padding:0 8px;font:14px/24px '\5fae\8f6f\96c5\9ed1';}
.brand_list aside{border-top:0;height:20px;padding: 6px;line-height: 20px;display: table;box-sizing:border-box;width: 100%}
.brand_list aside figure{position: relative;width: 190px;display: table-cell;}
.brand_list aside figure img{width:40px;height:20px;position: absolute;top:0;left:0;}
.brand_list aside figure p{font-size: 12px;color: #848484;height: 20px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;width:130px;}
.brand_list aside .r{font:bold 12px/20px '\5fae\8f6f\96c5\9ed1';color: #e30c26;width:116px;text-align: right;display: table-cell;}
.brand_list aside .r span{color:#e63b53;margin-right:10px}
.brand_list aside .r span b{font-size:14px}

/*品牌团首页列表 E*/

/* 品牌团列表页 S
 brand_mes      : 品牌介绍;
 brand_discount : 品牌优惠活动;
 brand_lists    : 品牌商品循环体 ;
 price_line     : 现价 or 原价;
 dis_line       : 折扣 or 已售 or 包邮;
 item_tt        : 商品名称;
 mark_shop      : 特卖商城角标;
 mark_qiangwan  : 已抢光角标;
 */
 
.brand_list_main{min-width: 310px; max-width: 620px; margin: 0 auto}
.brand_mes{background: #fff;height: 55px;position: relative;width: 100%;box-sizing:border-box; padding:10px 6px 10px 76px}
.brand_mes img{width: 60px;height: 30px;position: absolute;top:10px;left:9px;}
.brand_mes h3,
.brand_mes p{overflow: hidden;white-space: nowrap;text-overflow:ellipsis;width: 100%;box-sizing:border-box;}
.brand_mes h3{font-size: 14px;color:#000}
.brand_mes p{font-size: 12px;color:#848484}
.brand_discount{position:relative;width: 100%;padding: 10px;box-sizing:border-box;font:14px/16px '\5fae\8f6f\96c5\9ed1';height: 36px;}
.brand_discount p{width:63%;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;height:16px;padding-left:14px;position: relative}
.brand_discount p:before{background:url(../../img/ued_ico2.png) no-repeat;background-size: contain;width:10px;height:16px;content: "";display:inline-block;position: absolute;top:2px;left:0;}
.brand_discount time{height:16px;text-align: right;position: absolute;top:10px;right:10px;padding-left:16px;line-height: 16px}
.brand_discount time:before{background:url(../../img/ued_ico1.png) no-repeat;background-size:contain;width: 14px;height: 14px;content: "";position: absolute;top:1px;left:0;}
/*新品牌团*/
.brand_list_main .brand_info_area{background:url(../../img/brand/brand_list_logo.jpg) no-repeat;text-align: center; width:100%; height: 123px; overflow: hidden; position: relative; background-size: 100%; background-position: 0px 0px;}
.brand_list_main .brand_info_area #brand_avatar{position: absolute; top:0px; left: 0px; width: 100%; z-index: 10;}
.brand_list_main .brand_info_area .btn_back{width:25px;height:25px;position:absolute; z-index:11; float: left; left: 2%; top:16%; border-radius: 20px; background-color: #464646; opacity: 0.35;}
.brand_list_main .brand_info_area .btn_back i{display:block;width: 6px;height: 6px;border-bottom: 2px solid #fff;border-left: 2px solid #fff;position: absolute;left:10px;top:8px;-webkit-transform:rotate(45deg);}
.brand_list_main .brand_info_area #brand_logo{border-radius: 25px; background-color: #fff; width: 50px; height:50px; overflow: hidden; margin:9px auto; z-index:30;}
.brand_list_main .brand_info_area #brand_logo img{width:50px; height:25px; overflow: hidden; margin-top:15px;}

.brand_list_main .brand_info_area #brand_title{margin-top: 10px; font-size: 14px; color: #fff; text-shadow: #4a4a4a 0 1px 0;}
.brand_list_main .brand_info_area #brand_des{margin-top: 5px; color: #fff; font-size: 12px; height: 17px; text-overflow:ellipsis; width: 90%; margin:0px 5%; white-space: nowrap; overflow: hidden;}
.brand_list_main .brand_rule{height: 20px; line-height: 20px; font-size: 10px; color: #fff; padding-left: 25px; background: #8f4a77 url(../../img/brand/icon_bell.png) 7px 5px no-repeat; background-size:12px; display: none; }



.brand_filter_title{width: 100%; height: 52px; line-height: 52px; text-align: center; background-color: #f8f8f8; color: #666; font-size: 18px; border-bottom: 1px solid #d5d5d5;}
.brand_filter_title .btn_back{width:10%;height:52px;position:absolute;z-index:11; left: 0px;}
.brand_filter_title .btn_back i{display:block;width: 10px;height: 10px;border-bottom: 2px solid #666666;border-left: 2px solid #666666;position: absolute;left:17px;top:20px;-webkit-transform:rotate(45deg);}
.brand_filter_title .title{width: 100%; text-align: center;}

.brand_list_main .brand_filter{height:36px; background-color: #fff; width: 100%;}
.brand_list_main .brand_filter ul{width: 100%;}
.brand_list_main .brand_filter ul li{width: 33%; text-align: center; line-height: 36px; float: left;}
/*.brand_list_main .brand_filter ul li.on{color:#e53c4f; border-bottom: 3px solid #e53c4f; height: 33px; line-height: 33px;}*/
.brand_list_main .brand_filter ul li.on{color:#e53c4f; line-height: 36px;}

.brand_list_main .brand_filter i.sales_down{display: inline-block;width: 5px;height: 5px;border-bottom: 2px solid #666666;border-left: 2px solid #666666;-webkit-transform: rotate(-45deg); margin:10px 0px 0px 10px;}
.brand_list_main .brand_filter i.sales_up{display: inline-block;width: 5px;height: 5px;border-bottom: 2px solid #666666;border-left: 2px solid #666666;-webkit-transform: rotate(135deg); margin:10px 0px 0px 10px;}
.brand_list_main .brand_filter i.price_down{display: inline-block;width: 5px;height: 5px;border-bottom: 2px solid #666666;border-left: 2px solid #666666;-webkit-transform: rotate(-45deg); margin:10px 0px 0px 10px;}
.brand_list_main .brand_filter i.price_up{display: inline-block;width: 5px;height: 5px;border-bottom: 2px solid #666666;border-left: 2px solid #666666;-webkit-transform: rotate(135deg); margin:10px 0px 0px 10px;}

.brand_list_main .brand_tick{height: 20px; line-height:20px;background-color: #f0f0f0; text-align: center; padding:10px 0px; margin:0px auto; width: 200px;}
.brand_list_main .brand_tick span{ height:20px; display: inline-block;  color: #000; line-height: 20px; float:left; margin:0px 2px;}
.brand_list_main .brand_tick span.day{background-color: #000; color: #fff; width:20px; height:15px; line-height: 15px; font-size: 10px; margin-top: 3px;}
.brand_list_main .brand_tick span.hour{background-color: #000; color: #fff; width:20px; height:15px; line-height: 15px; font-size: 10px; margin-top: 3px;}
.brand_list_main .brand_tick span.minute{background-color: #000; color: #fff; width:20px; height:15px; line-height: 15px; font-size: 10px; margin-top: 3px;}
.brand_list_main .brand_tick span.second{background-color: #000; color: #fff; width:20px; height:15px; line-height: 15px; font-size: 10px; margin-top: 3px;}

.brand_lists{ width: 100%;}
.brand_lists ul{min-width: 310px; max-width: 620px; margin: 0 auto ;font-size: 0px; width: 97%}
.brand_lists ul li{width:48.71%; background: #fff; position: relative;margin-bottom: 6px;display: inline-block}
.brand_lists ul li img{width: 100%}
.brand_lists ul li:nth-child(2n){margin-left: 8px;}

.price_line{width: 100%; height: 26px;line-height: 26px}
.price_line .pprice{font-size: 16px; color: #e63b53;margin:0 5px}
.price_line del{font-size: 12px; color: #848484}
.dis_line{width: 100%; height: 26px; line-height: 26px; font-size: 11px; color: #a0a0a0;display: table;box-sizing:border-box;padding: 0 5px}
.dis_line span{display:table-cell}
.p_zhe{width:22%;}
.p_zhe i.by{display: inline-block; color: #fd7d45; font-size:11px; vertical-align:top;margin-top:6px; padding:0;line-height: 11px; height:11px;}
.sales{width:42%; font-size:11px; }
.postage{text-align:right;width:36%;font-size:11px; }
.item_tt{margin:0 5px;height: 26px; line-height: 26px; font-size: 14px; color: #444}
.item_tt span{ width: 100%;height: 26px;display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space:nowrap}
/*新增角标 今日上新 手机专享 品牌特卖 优品汇 爆款推荐 主题馆 s*/
.brand_lists .icon{width:25px; height:26px; display: block;position:absolute;top:0px;left:6px;background:url(../../img/new_icon.png) no-repeat;background-size:258px 41px;background-position:100px 100px;}
.brand_lists .jrsx{background-position:0 0;}
.brand_lists .sjzx{background-position:-25px 0;}
.brand_lists .pptm{background-position:-50px 0;}
.brand_lists .yph{background-position:-75px 0;}
.brand_lists .bktj{background-position:-100px 0;}
.brand_lists .ztg{background-position:-125px 0;}
.mark_qiangwan{background:url(../../img/ico_qiangwan.png) no-repeat;background-size: 61px 44px;position: absolute;bottom:78px;right:0;width:61px;height:44px}
/*新增角标 今日上新 手机专享 品牌特卖 优品汇 爆款推荐 主题馆 e*/


.not_data{margin:20% auto 0;font:14px/20px '\5fae\8f6f\96c5\9ed1'; width: 180px;text-align: center;}
.not_data i{background: url(../../img/img_500.png) no-repeat;width:86px;height:103px;background-size: contain;display:block; margin: 0 auto 10px}

/*#brand_list_div{display: none}*/

/* 品牌团列表页 E*/

/*查看更多，end*/
.loading_more{ width: 100%; text-align: center; padding:15px 0px; font-size: 14px; color: #9b9b9b; background-color: #fff; display: none; float: left}
.list_end{ width: 100%; height: 60px; text-align: center; display: none; float: left }
.list_end span{ width: 275px; height: 25px; background: url(../../img/sou_no_end.png); background-size: 275px auto; display: inline-block; margin-top: 10px; }


/* 菊花 */
.loading{ display: inline-block; }
#loading_init{ width: 100%;  margin-top: 49%; text-align: center; font-size: 14px; color: #9b9b9b; }
.icon_load{ display: inline-block; width: 29px;height: 29px; text-align:center; vertical-align: middle; background:url("../../img/ico_loading.png"); background-repeat: no-repeat; background-size: contain; margin-right: 10px; }
.icon_load{
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;
    -webkit-animation-name:ico_loading;
    -webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
@-webkit-keyframes ico_loading {
    from { -webkit-transform:rotate(0deg) translateZ(0)}
    to { -webkit-transform:rotate(360deg) translateZ(0)}
}




