@charset "utf-8";

body{
  background-color: #fff;
}
*:focus{outline: none;}
.hide{display: none;}
.fl{float: left;}
.fr{float: right;}
.m10{margin: 0px 10px;}
.pb20{padding-bottom: 20px;}
.pos_r{position: relative;}

.icon{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/security.jpg) no-repeat 10px -1px; background-size: 14px;color: #f34745; text-align: center; margin:10% 10% 0px 10%; width: 80%;}

/*面包屑*/
.breadcrumb{position: relative;height:20px;background: #f8f8f8;font: 19px/22px "微软雅黑";overflow: hidden;text-align: center;color:#333333;min-width:280px; padding: 13px; margin: 0 auto; border-bottom: 1px solid #d5d5d5; border-top: 1px solid #d5d5d5;}
.breadcrumb span{position: absolute;left:12px; z-index: 22;}
.breadcrumb span a{display: block;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #666666;
  border-left: 2px solid #666666;
  position: absolute;
  left: 15px;
  top: 0px;
  -webkit-transform: rotate(45deg);}
.breadcrumb b{position: absolute;top:9px;right:12px;border-radius: 5px;background: #e63b53;height:26px; padding:0 6px;font:14px/26px "微软雅黑"}
.breadcrumb b a{color:#fff}

.breadcrumb_login{position:relative;height:auto; width:100%; font: 19px/22px "微软雅黑";overflow: hidden;text-align: center; margin: 0 auto;}
.bannerImg{position: relative; width: 100%; left: 0px; top:0px;}

.zhe800_xy{padding: 20px;color: #848484;}
.zhe800_xy .ico{display: inline-block;width: 14px;height: 14px;background: url("//i0.tuanimg.com/ms/zhe800m/dist/img/ico_ok.png");background-size:contain;vertical-align: -2px;margin-right: 5px;}
.zhe800_xy.no .ico{background: url("//i0.tuanimg.com/ms/zhe800m/dist/img/ico_no.png");background-size:contain;}
.zhe800_xy a{text-decoration: underline}

.login a{color: #b2b2b2;} 
.login,.other_login{margin:0px 20px 20px 20px;min-width:260px;}
.login .login_input{margin: 0 3%;overflow: hidden; position: relative;}
.login .login_input_name{border-bottom: 1px solid #f1f1f1;padding-top: 15px;}
.login .tip{font-size: 12px; color: #b5b5b5; height: 20px; line-height: 28px; padding-left: 39px;}
.login span.link{color: #27272f;display: block; margin:0px 10px;}
.login span.red{color: #ef4949;}

.other_login{padding-top: 3px;}


/*.login #captcha{width: 58%; padding-left: 30px; background-color: #fff; text-indent: 0.3em; margin-left: 10px; height:24px;}*/

.login .login_input #user_name{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 8px 8px;background-size: 42px; margin-top: 10px;}
.login .login_input #old_password{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 8px -81px;background-size: 42px;margin-top: 10px;}
.login .login_input #password,.login .login_input #new_password{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 8px -51px;background-size: 42px;margin-top: 10px;}
.login .login_input #phone_number{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 8px 8px;background-size: 42px;margin-top: 10px;}
.login .login_input #phone_confirmation{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 8px -20px;background-size: 42px;margin-top: 10px;}
.login .login_input #captcha{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 8px -20px;background-size: 42px;margin-top: 10px;}
.login_input .showPass{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 6px -332px;background-size: 40px;}
.login_input .showText{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 8px -314px;background-size: 40px;}
.login_input .disable{background-color: #f9f9f9;color: #9c9c9c;}
.login_input .enable,.login_input .isCountDown{background-color: #ef4949;color: #fefffb;}
.clearInput{position: absolute; top:30px; width: 20px; height: 20px; border:none; background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 0px -189px;background-size: 40px;}
.close_normal{right:2%;}
.close_authcode{right:37%;}
.close_testfiycode{right:32%; top:20px;}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
    .close_authcode{right:37%;}

}
#getCaptcha{width: 35%;border:none;height: 24px; line-height:20px; font-size: 12px; border-radius: 26px; border:1px solid #d4d4d4; text-align: center; position: absolute; top: 29px; right: 0%;}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
    #getCaptcha{width: 37%;border:none;height: 24px; line-height:20px; font-size: 12px; border-radius: 26px; border:1px solid #d4d4d4; text-align: center; position: absolute; top: 29px; right: 0%;}
}
.close_p2t{right:12%;}

.pass2text_btn{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) no-repeat 0px -189px;background-size: 40px;}
.pass2text_btn{position: absolute; right: 0%; top:30px; width: 33px; height: 20px; border:none; font-size: 10px;}

.login .login_input input{width:50%; border-radius: 0;border: none;height:20px;font:13px/20px "微软雅黑"; margin-bottom: 7px;padding: 4px 0 4px 30px;color:#b5b5b5;outline: none;vertical-align: middle; overflow: hidden;}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
    .login .login_input input{width:50%; border-radius: 0;border: none;height:20px;font:13px/20px "微软雅黑"; margin-bottom: 7px;padding: 4px 0 4px 30px;color:#b5b5b5;outline: none;vertical-align: middle; overflow: hidden;}

}
#password{border-bottom: 0;}

.login .login_link {overflow: hidden;padding-top: 25px;margin: 0 3%;}
.login .login_link a{background:#d1d1d1; display: inline-block;height:40px;text-align: center;font:16px/40px "微软雅黑";border-radius: 0;border:0;cursor:pointer;float: left;color: #FFF;width: 100%;border-radius: 2px;}
.login .login_link .btnSubmit{border:0;cursor:pointer;color: #FFF;width: 100%;border-radius: 2px;height:40px;text-align: center;font:16px/40px "微软雅黑"; }

.login .login_link .enable{background: #ef4949; background:#ef4949 -webkit-gradient(linear, left top, right top, from(#ef4949), to(#ef4949));background: -webkit-linear-gradient(left, #ef4949, #ef4949); background: -moz-linear-gradient(left top, #ef4949, #ef4949); color: #ffffff;}
.login .login_link .disable{background: #ef4949; background:#ef4949 -webkit-gradient(linear, left top, right top, from(#ef4949), to(#ef4949));background: -webkit-linear-gradient(left, #ef4949, #ef4949); background: -moz-linear-gradient(left top, #ef4949, #ef4949); color: #f7adad;
}

.login input:focus, .userpanel input:focus, address ul li input:focus{color:#000}
.login span{color:#ef4949;margin-left:3%;margin-top: 20px;display: block;}
.other_login h4{
    height: 17px;
  margin: -21px auto;
  margin-top: 45px;
  color: #848484;
  font-size: 13px;
  width: 100px;
  background: #fff;
  z-index: 100;
  display: block;
  width: 100%;
}
#third .box{width: 100%;height: 180px;background-color: #dedede;position: absolute;bottom: 0px;z-index: 501;}
#third p{text-align: center;overflow: hidden;margin: 0px auto;width: 260px; padding: 25px 0px 0px 0px; z-index: 0;display: table;font-size: 16px;}
#third p.trans > span{display: table-cell;}
#third p.trans a{display: inline-block;background-size: 70px;font: 12px/30px "微软雅黑";text-align: center;width: 90px;height: 90px;margin-left: 25px;;color: #848484;}
#third a.taobao{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icons1.png) 6px -230px no-repeat; background-size:70px;}
#third a.weibo{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icons1.png) 6px -295px no-repeat; background-size:70px;}
#third .btn_cancle{position: absolute;bottom: 20px;left: 50%;-webkit-transform: translate(-50%,0%);transform: translate(-50%,0%);width: 80%;display: block;z-index: 502;height: 40px;background: #ef4949;font-size: 18px;line-height: 40px;border-radius: 5px;text-align: center;opacity: 1;color: #fff;}

.other_login > p{text-align: center;overflow: hidden;margin: 8px auto;width: 260px; padding: 25px 0px 0px 0px; z-index: 0;display: table;}
.other_login p > span{
  display: table-cell;
}
.other_login p a{display: inline-block; background-size: 40px; background-color:#fff; border-radius: 50px; background-size: 32px; font:12px/30px "微软雅黑"; text-align: center;width:45px; height:45px; margin:0px auto; color: #848484;}
.other_login p a.wechat{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) 6px -356px no-repeat; border: 1px solid #6ae297;background-size:40px;}
.other_login p a.qq{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) 5px -141px no-repeat; border: 1px solid #73cdef;background-size:40px;}
.other_login p a.more{background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/native_passport/icon_all.png) 6px -400px no-repeat;border: 1px solid #72dac0;background-size:40px;
}

.login .voice_text{text-align: -webkit-left; margin-left: 3%; padding-top: 5px;  padding-bottom: 5px; color: #a4a4a4;  margin-top: 3%;  font-size: 13px;background-color: #f8f8f8;text-indent: 2rem;}
@media screen and (min-height: 560px){
    .login .voice_text{text-align: -webkit-left;  color: #a4a4a4;  margin-right: 3%;  margin-top: 3%;  font-size: 13px;}
}
.voice_text .enable{
  color: #62b7fc;
  text-decoration: underline;
}
.voice_text .disable,.isCountDown{
    color: #dedede;
    text-decoration: none;
}
.captcha_area #confirm_security_button{width: 110px; height: 32px; line-height: 32px; border-radius: 15px; border:1px solid #ef4949; color: #ef4949; margin:20px auto; background-color: #f8f8f8;}
.captcha_button{text-align: center; margin: 0 3%;}



.captcha_area{ margin: 0 3%;}
.captcha_title{ 
    color: #ef4949;
    margin: 0px 3% 0px 3%;
    overflow: hidden;
    padding-top: 15px;
    text-indent: 1.8em;
    background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/passport/lock.png) 10px 16px no-repeat;
    background-size:10px;
}
.captcha_close{
    left: 235px;
    top: 10px;
    width: 20px;
    height: 20px;
    border:none;
    background: url(//i0.tuanimg.com/ms/zhe800m/dist/img/passport/close.png) no-repeat 0px 0px;background-size: 15px;
}
/**卫茹修改 语音验证码样式**/
#voiceCaptcha{
    font-size: 14px;
}